@import url('https://fonts.googleapis.com/css2?family=Arimo&family=League+Spartan:wght@700&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
/*
font-family: 'Arimo', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Sanchez', serif;
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


.left-content {
  width: 50%;
  height: 93%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  width: 50%;
  height: 93%;
  float: right;
}

.up-right{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.down-right{
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}


.centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-27%, -50%);
}

.centered-image img {
  max-width: 50%;
  max-height: 50%;
}

.logo{
  color: white;
  font-weight: bold;
}


.main-text {
  font-family: 'League Spartan', sans-serif;
  font-size: 10.5vw;
  margin-top: -170px;
  letter-spacing: -1.1vw;
  margin-left: 70px;

}

.raph-name{
  font-size: 2.8vw;
  font-family: 'sanchez', sans-serif;
  font-weight: lighter;
  word-spacing: 20px;
  margin-left: 80px;


}

#under-text{
  margin-top: -3vw;
}

.bouton-main{
  z-index: 1000;
  font-size: 1.8vw;
  font-family: 'Arimo', sans-serif;
  text-decoration: none;
}


#text-quote{
  font-size: 2.5vw;
  font-family: 'Crimson Text', serif;
  text-align: end;
  margin-right: 11vw;
  margin-bottom: 6vw;

  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #12c2e9, #c471ed, #f64f59) ;
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }

}


#arrow-white{
  display: none;
}

.bouton-main:hover #arrow-black {
  display: none;
}

.bouton-main:hover #arrow-white {
  display: inline-block;

}

.wrapper-button img {
  height: 1.2vw;
  rotate: 225deg;
  margin-bottom: -0.1vw;
  margin-left: 0.3vw;
}


.wrapper-button{
  z-index: 100;
  border: solid 2px #1E201D;
  border-radius: 50px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  margin-left: 9vw;
  box-shadow: 0px 5px 5px #282828;
  color: #1E201D;
}

.wrapper-button:hover{
  background-color: black;
  transition: .2s ease-out ;
  transform: translate(0px, 1px);
  box-shadow: none;
  color: white;
}